<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>CRUDy-Quotes</title>
  </head>
  <body>
    <h1>CRUDy-Quotes</h1>
    <form action="/quotes" method="POST">
      <input id = 'name' type="text" placeholder="name" name="name">
      <input id = 'quote' type="text" placeholder="quote" name="quote">
      <button id = 'submit' >Submit</button>
    </form>
    <button id = 'delete' type="delete">Delete</button>
    <button id = 'update1' >Update By Name</button>

    <div id="deleteMessage"></div>
    <h2> Quotes </h2>

    <ul class="quotes">
      <!-- Loop through quotes -->
      <% for(var i = 0; i < quotes.length; i++) {%>
        <li class="quote">
          <!-- Output name from the iterated quote object -->
          <span><%= quotes[i].name %></span>:
          <!-- Output quote from the iterated quote object -->
          <span><%= quotes[i].quote %></span>
        </li>
      <% } %>
    </ul>
    <button id = 'listQuotesBtn' >List Quotes</button>
    <span id = 'listQuotes'></span>
    <script src="/main.js"></script>
  </body>
</html>
