
#deleteMessage {
  height: 26px;
  color: red;
  font-size: 12px;
}

#listQuotes {
  overflow-y: scroll;
  max-height: 400px;
  display: inline-block;
}

body {
  background-color: #edf2f7;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
}
.crudWrap {
  padding-left: 20px;
}
